node_modules/
.env
storage/uploads/**
!storage/uploads/
!storage/uploads/ppt/
!storage/uploads/collegeIds/
!storage/uploads/profilePhotos/
!storage/uploads/**/.gitkeep
uploads/**
!uploads/
!uploads/ppt/
!uploads/profile/
!uploads/temp/
!uploads/**/.gitkeep
npm-debug.log*
